extends menu
block content
  section.main-section
    .row
      h1.title= title
    form(name='myForm',action='',method='post')
      .row
        .large-6.columns
          label(for='name') Name:
          input(type='text', name='name', id='name', placeholder='Nombre', value=person.name)
        .large-6.columns
          label(for='surname') Surname:
          input(type='text', name='surname', id='surname', placeholder='Apellido', value=person.surname)
      .row
        .large-6.columns
          label(for='email') Email:
          input(type='email', name='email', id='email', placeholder='Email', required, value=person.email)
      .row
        .small-6.columns
          .small-4.columns
            button(type='submit') Save
          .small-8.columns
            label.inline(for='right-label') Employee details: 
              a#right-label(href='#', data-reveal-id='myModal') Click to view
              //expand, xlarge, large, medium, small
              #myModal.reveal-modal.small(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
                h2#modalTitle Employee details.
                -if(person.name){
                h4 Name: 
                  small.text-primary=person.name
                -}if(person.surname){
                h4.lead Surname: 
                  small.text-muted=person.surname
                -}if(person.email){
                h4.lead Email: 
                  small.text-success=person.email
                -}
                - if(user.provider){
                h4.lead Provider: 
                  small.text-success=user.provider
                -}
                h4.lead Id: 
                  small.text-info=person._id
                a.close-reveal-modal(aria-label='Close') &times;
//p=JSON.stringify(person)  


