extends menu
block content
  section.main-section
    .row
      h1.title= title
    form(action='',method='post')
      .row
        .large-6.columns
          label(for='name') Name:
          input(type='text', name='name', id='name', placeholder='Nombre', value=person.name)
        .large-6.columns
          label(for='surname') Surname:
          input(type='text', name='surname', id='surname', placeholder='Apellido', value=person.surname)
      .row
        .large-6.columns
          label(for='email') Email:
          input(type='email', name='email', id='email', placeholder='Email', required, value=person.email)
      .row
        .small-6.columns
          .small-4.columns
            button(type='submit') Save
          .small-8.columns
            label.inline(for='right-label') Employee details: 
              a#right-label(href='#', data-reveal-id='myModal') Click to view
              #myModal.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
                h2#modalTitle Employee details.
                h4 Employee name:
                label.text-primary=person.name
                h4.lead Employee surname:
                label.text-muted=person.surname
                h4.lead Employee email:
                label.text-success=person.email
                h4.lead Employee id:
                label.text-info=person._id
                a.close-reveal-modal(aria-label='Close') &times;
//p=JSON.stringify(person)  


