extends menu
block content
  h1= title
  form(action='',method='post')
    .row
      .col-md-6
        .form-group
          label(for='name') Name:
          input.form-control(type='text', name='name', id='name', placeholder='Nombre', value=person.name)
      .col-md-6
        .form-group
          label(for='surname') Surname:
          input.form-control(type='text', name='surname', id='surname', placeholder='Apellido', value=person.surname)
    .row
      .col-md-6
        .form-group
          label(for='email') Email:
          input.form-control(type='text', name='email', id='email', placeholder='Email', value=person.email)
    .row
      .col-md-6
       .form-group
          input.btn.btn-primary(type='submit', value='Save')
  .row
    p.bg-info=JSON.stringify(person)