doctype html
html(lang='es-AR')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(href='/components/foundation/css/foundation.css', rel='stylesheet')
      link(href='/css/style.css',rel='stylesheet')
      link(href='/components/select2/select2.css',rel='stylesheet')
      link(href='/css/select2-custom.css',rel='stylesheet')
    block js
      script(src='/components/foundation/js/vendor/modernizr.js')
        if ENV_DEVELOPMENT
          script(src='http://localhost:3200/livereload.js')
  body
    block menuContenido
    -var year = new Date().getFullYear();
    .row.max-width-X
      hr
      .row
        .large-6.columns
          p © Copyright 2015 - #{year}.
        .large-6.columns
          ul.inline-list.right
            li
              a(href='mailto:maranimatias@gmail.com') Marani Matias Ezequiel.
  

    script(src='/components/foundation/js/vendor/jquery.js')
    script(src='/components/foundation/js/foundation/foundation.js')
    script(src='/components/foundation/js/foundation/foundation.abide.js')
    script(src='/components/foundation/js/foundation/foundation.reveal.js')
    script(src='/components/select2/select2.min.js')

    script.
      $(document).foundation();

    script.
      //ACÁ SE LE DA EL ESTILO AL CONTENIDO QUE SE QUIERE MOSTRAR EN EL DESPLEGABLE
      function repoFormatResult(repo) {
      var provedor='';
      if(!repo.surname){repo.surname='';};
      if(!repo.name){repo.name='';};
      if(!repo.email){repo.email='';};
      if(!repo.photo){repo.photo='';};
      if(repo.provider=='local'){
      provedor='<leabe>' + repo.provider + '</leabe>';
      };
      if(repo.provider=='web'){
      provedor='<leabe class="text-info">' + repo.provider + '</leabe>';
      };
      if(repo.provider=='test'){
      provedor='<leabe class="text-warning">' + repo.provider + '</leabe>';
      };
      if(repo.provider=='facebook'){
      provedor='<leabe class="text-primary">' + repo.provider + '</leabe>';
      };
      if(repo.provider=='github'){
      provedor='<leabe class="text-success">' + repo.provider + '</leabe>';
      };
      var markup = 
      '<div class="row collapse">' +
        '<div class="small-2 columns">' +
          '<img src="' + repo.photo + '"/>' +
        '</div>' +
        '<div clas="small-10 columns">' +
          '<div class="row collapse">' +
            '<div class="small-10 columns">' + repo.name +' '+ repo.surname +'</div>' +
            //'<div class="small-4 columns">' + repo.surname + '</div>' +
          '<div class="row collapse">' +
            '<div class="small-5 columns">' + repo.email + '</div>' +
            '<div class="small-5 columns">'+ provedor +'</div>' +
          '</div>'+

          '</div>'+
        '</div>'+
      '</div>'; 
        return markup;
      }

      function repoFormatSelection(repo) {
      return repo._id;
      }
    script#script_e6.
      //ACÁ SE LE DAN LOS DATOS DE BUSQUEDA
      $(document).ready(function() {
      $("#e6").select2({
      placeholder: "Name or Surname",
      minimumInputLength: 1,
      ajax: { 
      //url: "https://api.github.com/search/repositories",
      url: "/search/res",
      dataType: 'json',
      quietMillis: 250,
      data: function (term, page) {
      return {
      q: term, // search term
      };
      },
      results: function (data, page) { 
      return { results: data };//data.items
      },
      cache: true
      },
      initSelection: function(element, callback) {
      var id = $(element).val();
      if (id !== "") {
      $.ajax("/search/edit/" + id, {
      dataType: "json"
      }).done(function(data) { callback(data); });
      }
      },
      formatResult: repoFormatResult, 
      formatSelection: repoFormatSelection, 
      dropdownCssClass: "bigdrop", 
      escapeMarkup: function (m) { return m; }
      });
      });

      //ACÁ SE DICE QUE CUANDO SE SELECCIONE EL ELEMENTO SE LLAME A LA FUNCIÓN log QUE ESTA ACA ARRIBA
      $("#e6")
      .on("select2-selecting", function(e) { log ("selecting val="+ e.val+" choice="+ JSON.stringify(e.choice));});
