extends menu
block content
  section.main-section
    .row
      .large-12.columns
        .row
          h1.title= title
        .row.content  
          //p=JSON.stringify(persons)
          -var msj =JSON.stringify(flashmsg);
          -if(msj!='[]'){
          p.text-info  #{msj}.
          -};
    .row
      .large-12.columns.table-responsive
        table.table()
          thead
            tr
              th(scope="column") #
              th(scope="column") Name
              th(scope="column") Surname
              th(scope="column") Record type
              th(scope="column") Email
              -if (user) {
              th(scope="column") Options
              -}
          tbody
          - persons.forEach(function(v,i){
            tr
              td(id=v._id)=i
              td=v.name
              td=v.surname
              td=v.provider
              td=v.email
              -if (user) {
              td
                a(href="/edit/"+v._id) Edit  
                | -  
                a.text-danger(href="/delete/"+v._id) Delete 
              -}
          - });
