extends menu
block content
  h1= title
  .row
    //p=JSON.stringify(persons)
    -var msj =JSON.stringify(flashmsg);
    -if(msj!='[]'){
    p.text-info  #{msj}.
    -};
    //a(href="/new") New
    .table-responsive
      table.table.table-bordered
        tr
          th #
          th Name
          th Surname
          th Email
          -if (user) {
          th Options
          -}
        - persons.forEach(function(v,i){
        tr
          td=i
          td=v.name
          td=v.surname
          td=v.email
          -if (user) {
          td
            a(href="/edit/"+v._id) Edit
            | 
            a(href="/delete/"+v._id) Delete
          -}
        - });
      
