extends menu
block content
  section.main-section
    .row
      .large-12.columns
        .row
          h1.title= title
        .row.content  
          //p=JSON.stringify(persons)
          -var msj =JSON.stringify(flashmsg);
          -if(msj!='[]'){
          p.text-info  #{msj}.
          -};
    .row
      .large-12.columns
        table
          thead
            tr
              th(width='100') #
              th(width='200') Name
              th(width='200') Surname
              th(width='200') Access type
              th(width='200') Email
              -if (user) {
              th(width='150') Options
              -}
          tbody
          - persons.forEach(function(v,i){
            tr
              td=i
              td=v.name
              td=v.surname
              td=v.provider
              td=v.email
              -if (user) {
              td
                a(href="/edit/"+v._id) Edit  
                |  
                a(href="/delete/"+v._id) Delete 
              -}
          - });
