extends layout
block menuContenido
  -var menu = [["List","/panel/employees"],["Search","/search"]];
  -if (user) {
  -var menu = [["List","/panel/employees"],["Search","/search"],["New Employees","/panel/employees/new"]];
  -}
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        a.navbar-brand(href='/') My first project
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          -for(key in menu){
          -if( menu[key][1] == url ){
          li.active
            a(href='#{menu[key][1]}') #{menu[key][0]}
          -}else{
          li
            a(href='#{menu[key][1]}') #{menu[key][0]}
          -}};
        //  
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
              | Dropdown 
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li.dropdown-header Nav header
              li
                a(href='#') Separated link
              li
                a(href='#') One more separated link
        
        ul.nav.navbar-nav.navbar-right
          .navbar-form.navbar-right            
            -if (user) {
            li
              b #{user.email} 
              a.btn.btn-danger(href="/logout") Sign-Off
            -}else{
            form(action='/admin',method='post')
              .form-group
                input.form-control(for='inputEmail', type='text', name='email', id='inputEmail', required='', placeholder='Email address')
              .form-group
                input.form-control(for='inputPassword', type='password', name='password', required='', id='inputPassword', placeholder='Password')
              button.btn.btn-success(type='submit') Login
            -}
  .container
    block content