extends layout
block menuContenido
  -var menu = [["List","/panel/employees"],["Search","/search"]];
  -if (user) {
  -var menu = [["List","/panel/employees"],["Search","/search"],["New Employees","/panel/employees/new"]];
  -}
  nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
      li.name
        h1
          a(href='/') My first project
      // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      // Left Nav Section
      ul.left
        -for(key in menu){
        -if( menu[key][1] == url ){
        li.active
          a(href='#{menu[key][1]}') #{menu[key][0]}
        -}else{
        li
          a(href='#{menu[key][1]}') #{menu[key][0]}
        -}};
      // Right Nav Section
      ul.right
        -if (user) {
        li
          a#right-label(href='#', data-reveal-id='myModalUser') #{user.name}
          //expand, xlarge, large, medium, small
          #myModalUser.reveal-modal.small(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
            .row
              .large-9.columns
                h2#modalTitle User Details.
              .large-3.columns
                -if(user.photo){
                  img(src="#{user.photo}" width="64px" height="64px")
                -}
            .row
              .large-12.columns
                h4 Name: 
                  small.text-primary=user.name
                -if(user.surname){
                h4.lead Surname: 
                  small.text-muted=user.surname
                -}
                - if(user.email){
                h4.lead Email: 
                  small.text-success=user.email
                -}
                - if(user.provider){
                h4.lead Provider: 
                  small.text-success=user.provider
                -}
                h4.lead Id: 
                  small.text-info=user._id
            a.close-reveal-modal(aria-label='Close') &times;
        li.has-form
          a.button.alert(href="/logout") Sign-Off
        -}else{
        li.has-form
          a.button.success(role='button', aria-label='Login',href="/admin") Login
        -}
      //  
        li.has-dropdown
          a(href='#') Right Button Dropdown
          ul.dropdown
            li
              a(href='#') First link in dropdown
            li.active
              a(href='#') Active link in dropdown
  section.scroll-container(role='main')
    block content